@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1.25em;
    font-family: 'Montserrat', sans-serif;
    ;
}

img {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

}

header h1 {
    font-size: 20px;
    font-weight: 500;
}

header i {
    font-size: 12px;
    font-weight: 500;
}

.food-list {
    margin: 0 0 30px 0;
}

.food-list h2 {
    font-weight: 500;
    font-size: 22px;
    text-transform: capitalize;
}

.food-list p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
}

#about-holder,
#food-holder {
    text-align: center;
}

#about-holder h2 {
    margin: 20px 0;
}

hr {
    opacity: 0.2;
}

div#navigation {
    display: flex;
    justify-content: space-around;
    margin: 0 auto 50px auto;
    width: 80%;
}

div#navigation>div {
    font-size: 14px;
    width: 30px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

div#navigation>div:nth-child(2) {
    font-size: 12px;
    color: white;
    background-color: black;
}

div#about-holder {
    margin: 50px 0 50px 0;
}

div#about-holder>h2 {
    margin: 0 0 40px 0;
    text-transform: capitalize;
    font-weight: 300;
}

div#about-text>h3 {
    font-weight: 500;
    margin: 20px 0;
    text-transform: capitalize;
}

div#about-text>h4 {
    font-weight: 300;
    margin: 20px 0;
    text-transform: capitalize;
    font-size: 13px;
    font-style: italic;
}

div#about-text>p {
    font-weight: 300;
    margin: 20px 0;
    font-size: 14px;
}

div#popular,
div#blog,
footer {
    margin: 30px 0;
}

footer h1 {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 10px 0;
}

footer p {
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0;
}

div.blog-detail {
    display: flex;
    margin: 20px 0;
}

div#blog h1 {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 10px 0;
}

.blog-detail img {
    width: 20%;
    margin-right: 10px;
}

.blog-detail div {
    font-weight: 300;
    font-size: 12px;
}

.blog-detail div p:nth-child(1) {
    font-weight: 500;
}

div#popular h1 {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 10px 0;
}

div.tags {
    display: flex;
    flex-wrap: wrap;
}

div.tags>div.card {
    color: white;
    background-color: gray;
    margin: 5px 3px;
    padding: 5px 5px;
    font-size: 10px;
}

div.tags>div.card:nth-child(1) {
    background-color: black;
}

@media(min-width:500px) {
    #container {
        max-width: 900px;
        margin: 0 auto;
    }

    #food-holder {
        max-width: 900px;
        /* display: flex; */
        /* justify-content: space-between; */
        display: grid;
        grid-template-columns: auto auto auto auto;
        margin: 0 auto;

    }

    #food-holder>div {
        padding: 20px 0;
    }

    .food-list {
        max-width: 200px;
        margin: 0 5px;
    }

    #about-holder img {
        max-width: 500px;
    }

    #navigation {
        max-width: 400px;
        margin-top: 50px !important;
    }

    div#footer {
        display: flex;
        justify-content: space-around;
    }

    .footer-content {
        width: 25%;
    }


}